body {
    margin: 0;
    padding: 0;
    background-color: #222233;
    overflow-x: hidden;
}

body h2 {
        color: white;
        text-align: center;
        font-size: 48px;
        
}
img {
    max-width: 100%;
    height: auto;
}


hr {
    margin-top: 70px;
    background-color: black;
}
.app {
    text-align: center;
}
.navbar {
    overflow: visible;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    z-index: 1000;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will push content to both ends of the container */
    


    

}
.logo img {
    padding-left: 0; 
    height: 50px;
    margin-left: 25px;
    margin-top: 15px;
}

.home {
    padding-top: 80px;
    height: 100%;
    position: relative;
    text-align: center;
        animation: fadeInAnimation ease 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
}

#homemovie1{
    position: absolute;
            top: -225px;
            left: 0;
            width: 100%;
            height: 1000px;
            object-fit: cover;
            z-index: -1;
        }


.nav-links {
    display: flex;
    flex-direction: row; 

    }
.nav-links a {
    color: white;
    font-size: 24px;
    font-family: SF system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding-right: 2em;
}
        

.navbar a:hover {
    color:#40dbd6 ;
}


.logo img {height: 60px;
        margin-left: 25px;
        margin-top: 15px;
        padding-left: 4em;
        padding-bottom: 0.5em;
        
        
}
#sociallinks img {
    margin-top: 30px;
    filter: invert(1); 
        width: 40px; 
        height: 40px; 
        margin: 5px; 
}

#sociallinks img:hover {
    filter: invert(0.7); 
}
/*start content */

.content-container {
    display: inline-block;
    flex-flow: column;
    align-items:center;
    justify-content: space-evenly;
    align-content: stretch;
    width: 100%; /* Takes full width of the parent/container */
    
}




.highlight {
    color: #40dbd6;
}

/* styles.css */
.profile-container {
    display:flex;

    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    float: right;
    margin-top: -150px;
    margin-bottom: 100px; 
    
}

.pfp img {
    width: 400px;
    height: auto;
    border: 10px solid white;
    border-radius: 50%;
    margin-bottom: 20px; /* Adjust spacing between pfp and text */
}

.ubclogo img {
    filter: brightness(0) invert(1);
    height: 40%;
    width: 40%;
}
.ubclogo p {
    color: white;
    text-align: center;
    font-size: 18px;
}

#gradyear {
    color: #40dbd6;
}
 
#ubcimage:hover {
    transition: filter 0.3s ease;
    filter: grayscale(1) sepia(190) hue-rotate(210deg) saturate(4) brightness(7); 
}

/*ubc text link */

a.highlight:hover {
    transition: filter 0.3s ease;
    filter: grayscale(1) sepia(190) hue-rotate(210deg) saturate(4) brightness(7);
}
/*start of about */

#about { 
    page-break-before: always;
    margin-top: 200px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
 
}
#about h2 {
    padding-bottom: 100px;  /* Adjust the value as required */
}


#background {
    width: 40%;
    margin-top: -10px;
    height: 75px;
    margin-left: 150px;
    line-height: 24px;
    color: white;
    font-size: 20px;
    font-family: SF system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*skills points */
#skillsandtools {
display: grid;
    grid-template-columns: repeat(3, 1fr); /* two columns */
    grid-template-rows: repeat(3, auto);    /* three rows */
    gap: 20px;  /* space between grid items */
    
}
#skillsandtools li {
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    list-style-type: none;
    text-align: center;
}

#skillsandtools li:hover{
    background-color: gray;
    color: #225ce3
    -webkit-box-shadow; 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    box-shadow;        0px 0px 30px 0px rgba(34, 92, 227, 0.67);
}



.aboutme h2 {
    color: white;
    text-align: center;
    font-size: 48px;
}

#outbx h3{
    margin-top: 200px;
    color: white;
    font-family: 'Blippo', fantasy
  
}
#bigname h2 {
    margin-top: 0%;
    font-size: 75px;
    color: white;   
}
.abtmeclass {
    margin-top: 310px;
}

.home-content {

    margin-top: -70px;  /* Adjust this value as needed */
    
    
}
#location{
    margin-top: -50px;
    font-size: 14px;
    padding-bottom: 50px;
    color: white;
}


#briefintro{
    margin-top: -25px;
    font-size: 25px;
    color: white;
}

/* start of experience */

#workexperience {
    page-break-before: always;
    padding-top: 5em;
    margin-top: 5em;
    margin-bottom: 100px;
    color: white;       
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main {
    display: none;
}

.experience:hover main { /* hover info boxes */
    display: block;
    overflow: hidden;

}

.workexperience-row img {
    width: 100%;
    height: auto;
}


h2.jobtitle {
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    color: #40dbd6;
}

.workexperience-row {
    display: flex;
    justify-content:center;
    gap: 3em;                 
            
    max-width: 2000px;
    margin-top: 50px;
}

.experience {
    flex-basis: calc(33.33% - 3%);   
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: auto;
    border-radius: 15px;
    list-style-type: none;
    text-align: center;
    height: min-content;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(34, 92, 227, 0.67);
}

/* points inside hover box */

main li {
    text-align: left;
    line-height: 36px;
    color: white;
    font-size: 18px;
}

/* start of project */

#projects {
    page-break-before: always;
    color: white;
    padding: 20px 0;         
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
}

/*project showcase boxes */ 
.project-row {
    display: flex;
    justify-content: space-between;
    gap: 3%;                 
    width: 94%;              
    max-width: 1000px;
    margin-top: 50px;
    
}

.project {
    flex-basis: calc(33.33% - 3%);   
    border: 1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(34, 92, 227, 0.67);
}


.project img {
    width: 100%; 
    display: block;
}

.project p {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

#projects h3 {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    color: #40dbd6;
}

#comingsoontext {
    font-size: 22px;
    text-align: center;
}

#projects h2 {
    color: white;
    text-align: center;
    font-size: 48px;
}


/* button links on projects */

#projectlink a {
    color: #74e7ed;
    font-size: 16px;
    margin-right: 1.5em;
    padding: 0.4em 1em;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    display: inline-block;
    width: 25%;
    align-items: center;
}
#projectlink a:hover {
    color: white;
    background-color: #737574;
    animation: fadeInAnimation ease 0.75ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
}



/* start of contact me */
#contactme {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 3em;
    padding-top: 3em;
}

#bringcloser, #contactme h2, #bringcloser2 {
    margin: 1% 0;
}

#bringcloser, #bringcloser2 {
    color: #40dbd6;
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    max-height: 10%;
}

.contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 25%;
    width: 100%;
    max-width: 1000px;
    padding-top: 3em;
    padding-right: 1.5em;
}

.contactplatform img {
    width: 40px; 
    height: 40px; 
    object-fit: cover; 
    filter: invert(1); 
    margin: 5px; 
}

.icons-howtoreach {
    color: #40dbd6;
}

.icons-info {
    font-size: 16px;
}

.contactplatform a:hover {
    color: white;
}


/*top button */

#madeittop {
    color: #40dbd6;
    font-size: 24px;
}

/*footer*/
#footer {
    background-color: black; /* Setting a background color for the entire footer */
    padding: 14px 50px; /* A general padding around the footer */
    display: flex; /* Using flexbox to control the children's positioning and sizing */
    justify-content: space-between; /* Distributing the children elements on the extremes (left and right) */
    align-items: center; /* Vertically centering the content */
    margin-top: 100px;
}

#sociallinksfooter {
    display: flex; /* Using flexbox for better spacing and alignment of the links */
    gap: 10px; /* Space between the links */
}

#sociallinksfooter img {
    filter: invert(1);
    width: 40px;
    height: 40px;
}

#sociallinksfooter img:hover {
    filter: invert(0.7);
}


#signature {
    margin-left: auto; /* This will push the div to the right if any extra space is available */
}

#signature h1 {
    color: white; 
    margin: 0; /* Removing the default margin */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    /* Hide the navbar */
    .navbar {
        display: none;
    }

    /* Projects adjustments */
    #projects {
        margin-top: 0;
    }
    .project-row {
        flex-direction: column; 
        gap: 1em; 
        align-items: center; /
    }
    .project {
        width: 90%; 
        margin: 0 auto; 
    }

    /* About adjustments */
    .content-container {
        margin-top: -4em;
    }
    #story {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px; 
    }
    .profile-container{
        order: -1;
    }

    .aboutme {
        order: 2;
    }
    #background {
        order: 3;
        width: 90%; 
        margin-left: auto;
        margin-right: auto;
        margin-top: -5em;
        
    }

    .contact-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 150%;
    }

    .contactplatform {
        margin-bottom: 2em;
    }

    
    #workexperience {
        margin-top: 650px; 
    }
    .workexperience-row {
        flex-direction: column; 
        gap: 1em; 
        align-items: center;
    }
    .experience {
        width: 90%; 
        margin: 0 auto; 
    }
}
